@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.splashSceen {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 16px;

    display: grid;
    grid-template-rows: 1fr max-content max-content;
    align-items: self-end;
    justify-items: center;

    background:
        /* 1. Затемняющий градиент (сверху) */
        radial-gradient(
            ellipse 88.48% 47.66% at 50% 50%,
            rgba(0, 0, 0, 0) 77.88%,
            rgba(0, 0, 0, 0.8) 100%
        ),
        /* 2. Фоновое изображение (позади градиента) */ url('/images/splash-screen.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .label {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 36px;
        text-align: center;
        color: $color-accent;
    }

    .progressBar {
        position: relative;
        z-index: 1;
        width: 80%;
        max-width: 300px;
    }
}
