@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

// @/shared/ui/modal/Modal.module.scss
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    padding: 16px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-bottom: 1px solid $color-accent;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
        background: rgba(255, 255, 255, 0.08);
    }
}
