@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables.scss' as *;

.progressBar {
    width: 100%;
    height: 6px;
    background-color: rgba($color: #000000, $alpha: 0.25);
    border-radius: 16px;

    .progressFill {
        height: 100%;
        transition: width 0.3s ease;
        border-radius: 16px;
        background: linear-gradient(to right, $font-neon-orange-dark, $font-neon-orange);
        box-shadow:
            0 0 1px rgba($font-neon-orange, 0.6),
            0 0 8px rgba($font-neon-orange, 0.4),
            0 0 16px rgba($font-neon-orange, 0.2);
    }
}
