// @/widgets/machine-card/ui/MachineInfoModal.module.scss
.machineInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 300px;

    .title {
    }

    .infoGrid {
        display: grid;
        gap: 16px;
        width: 100%;

        .infoItem {
            display: flex;
            justify-content: space-between;

            .label {
            }

            .value {
            }
        }
    }
}
