// @/widgets/machine-card/ui/MachineInfoModal.module.scss
.machineInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 300px;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.infoGrid {
    display: grid;
    gap: 16px;
    width: 100%;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .label {
    }

    .value {
    }
}

.buyButton {
    width: 100%;
    padding: 12px;
    background: rgba(202, 68, 255, 0.33);
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s ease;

    &:hover {
        background: rgba(202, 68, 255, 0.5);
    }
}
