// @/widgets/machine-card/ui/MachineInfoModal.module.scss
.machineInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    min-width: 300px;

    .title {
    }

    .infoGrid {
        display: grid;
        gap: 16px;
        width: 100%;

        .infoItem {
            display: grid;
            justify-content: space-between;
            grid-template-columns: max-content max-content;
            align-items: center;

            .label {
            }

            .value {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                align-items: center;
                gap: 4px;
            }
        }
    }
}
