@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.depositForm {
    display: grid;
    gap: 16px;

    .button {
        width: 100%;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
